body {
    background-color: rosybrown;
}

.login-box {
	background-color: #d3c0c5;
	padding: 20px;
	margin: 10% auto;
	max-width: 300px;
	box-shadow: 0 0 20px #000;
	border-radius: 10px;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	margin: 10px 0;
	display: block;
}

input[type=text], input[type=password] {
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
}

input[type=submit] {
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: rosybrown;

	color: #fff;
	cursor: pointer;
	font-size: 16px;
}

  
input[type=submit]:hover {
	background-color: #ceb2b9d1;
}
